#box{
    padding: 0px;
    height: 150px;
}

textarea:focus{
outline: none;
}

#textArea{
    height: 100px;
    width: 450px;
    resize: none;
    border: none;
}

#post-button{

    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 3px;
    width: 65px;
    height: 34px;
    margin-left: 560px;
    /* margin-top: 50px;     */
}