.sidebar{
    display: inline-block;
    height: 500px;
    width: 300px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    
}
.sidebarText a{
    text-decoration: none;

}
#logoImg{
    padding: 0px;
    margin: 0px;
}
.boxOftxtAndIcon{
    display: flex;
    padding: 10px;
    border-radius: 20px;
    color: black;
}
.boxOftxtAndIcon:hover{
    background-color: rgb(230, 230, 230);
    color: #5188ff;
    text-decoration: none;    
}
a.active-link{
    color: #5188ff;
}
.link{
    color: #5188ff;  
}
a{
    text-decoration: none !important;
    color: #5188ff;
}

/* #active-link{
    color: #5188ff;
} */
.sidebarText{
    margin-left: 20px;
    
}
@media only screen and (max-width:1000px){
    .sidebar{
        display: none;
    }
}


